{% extends 'myapp/main.html' %}
{% load static %}
{% block title %} <title>Password-reset</title> {% endblock title %}
{% block main %}
<div class="container">

    <div class=" row mt-4">
        <div class="col-sm-6 offset-sm-3">
            <h5>Set your new password</h5>
            <hr>
            <form action="" method="POST" class="shadow p-4 mt-2"> {% csrf_token %}
                <div class="form-group mt-2">

                    {% for fm in form %}

                    {{ fm.label_tag}} {{fm}} <small class="text-danger">{{ fm.errors | striptags}}</small><br>

                    {% endfor %}

                </div>
                <input type="submit" value="Submit" class="btn btn-primary">

            </form>

            {% if form.non_fild_errors %}
            {% for error in Form.non_field_errors %}

            <p class="alert alert-danger">{{error}]</p>

            {% endfor %}


            {% endif %}

        </div>

    </div>

    {% endblock main %}}