{% extends 'myapp/main.html' %}

{% block title %} <title>Password-reset</title> {% endblock title %}

{% block main %}
<div class="cintainer">
    <div class="row py-3">

        <div class="col-sm-5 offset-sm-3 mt-4">
            <h5> Reset your password</h5>
            <form method="POST" action="" class="shadow p-4" novalidate> {% csrf_token %}

                <div class="mb-3 form-group">
                    {% for fm in form %}

                    {{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors | striptags}}</small><br>

                    {% endfor %}

                </div>

                <input type="submit" value="Submit" class="btn btn-primary">

            </form>

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger">{{ error }}</p>

            {% endfor %}
            {% endif %}

        </div>
    </div>
</div>



{% endblock main %}